[milis_vkusno] {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	animation: fadeIn 5s;
}

[milis_vkusno_link] {
	font-size: 40px;
	height: 200px;
	display: flex;
	flex-direction: column;
	color: white;
}

[milis_vkusno_link]::before {
	content: '';
	display: block;
	background-image: url(https://mol.hyoo.ru/mol/logo/logo.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 25px;
	min-width: 120px;
	min-height: 120px;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	15% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
