[milis_stat_chart] {
	flex-direction: column;
	flex-grow: 1;
	border-bottom: 3px solid gray;
}

[milis_stat_chart_chart] {
	padding: 2rem;
	max-height: 450px;
}

[milis_stat_chart_title_paragraph] {
	margin-top: 2rem;
	font-size: 2rem;
}
