:root {
	--milis_ballsort_ball_main: #466799;
	--milis_ballsort_ball_light: #00B2FF;
	--milis_ballsort_ball_green_main: #247516;
	--milis_ballsort_ball_green_light: #70FF00;
	--milis_ballsort_ball_yellow_main: #8F7E22;
	--milis_ballsort_ball_yellow_light: #FFE600;
	--milis_ballsort_ball_cyan_main: #29777C;
	--milis_ballsort_ball_cyan_light: #00FFF0;
	--milis_ballsort_ball_blue_main: #466799;
	--milis_ballsort_ball_blue_light: #00B2FF;
}

[milis_ballsort_body] {
	gap: var(--mol_gap_block);
	align-items: center;
}

[milis_ballsort_game] {
	gap: var(--mol_gap_block);
}

[milis_ballsort_info] {
	display: flex;
	justify-content: center;
	gap: var(--mol_gap_block);
}

[milis_ballsort_table] {
	display: flex;
	justify-content: center;
	gap: var(--mol_gap_block);
}

[milis_ballsort_column] {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    border-image: initial;
    border-top: none;
    width: 3rem;
    height: 10rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    border-bottom-left-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;
}

[milis_ballsort_ball] {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid black;
    margin: 1px;
    flex-shrink: 0;
    background: radial-gradient( circle at 65% 15%, white 1px, var(--milis_ballsort_ball_light) 3%, var(--milis_ballsort_ball_main) 60%, var(--milis_ballsort_ball_light) 100% );
    position: relative;
}

[color='green'] {
    background: radial-gradient( circle at 65% 15%, white 1px, var(--milis_ballsort_ball_green_light) 3%, var(--milis_ballsort_ball_green_main) 60%, var(--milis_ballsort_ball_green_light) 100% );
}

[color='yellow'] {
    background: radial-gradient( circle at 65% 15%, white 1px, var(--milis_ballsort_ball_yellow_light) 3%, var(--milis_ballsort_ball_yellow_main) 60%, var(--milis_ballsort_ball_yellow_light) 100% );
}

[color='cyan'] {
    background: radial-gradient( circle at 65% 15%, white 1px, var(--milis_ballsort_ball_cyan_light) 3%, var(--milis_ballsort_ball_cyan_main) 60%, var(--milis_ballsort_ball_cyan_light) 100% );
}
[color='blue'] {
    background: radial-gradient( circle at 65% 15%, white 1px, var(--milis_ballsort_ball_blue_light) 3%, var(--milis_ballsort_ball_blue_main) 60%, var(--milis_ballsort_ball_blue_light) 100% );
}
